extends layout

block content
  
   <section class ="shirts">
       <div class="conatianer">
         <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
         <div class="card">
             <img src= "images/1.jpg" class="card-img img-fluid" >
             <div class="card-body">
             <h2 class="card-title" style="font-color: black">Blue Frock</h2>
             <h3>10000</h3>
             <ul class="stars">
             <i class = "fa fa-star"></i>
              <i class = "fa fa-star"></i>
               <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                 <i class = "fa fa-star"></i>
             
             </ul>
             <button type="button" class="btn btn-primary">Add to cart</button>
             </div>
         </div>
         </div>

         <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
         <div class="card">
             <img src= "images/2.jpg" class="card-img img-fluid" >
             <div class="card-body">
             <h2 class="card-title" style="font-color: black">Frock</h2>
             <h3>10000</h3>
             <ul class="stars">
             <i class = "fa fa-star"></i>
              <i class = "fa fa-star"></i>
               <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                 <i class = "fa fa-star"></i>
             
             </ul>
             <button type="button" class="btn btn-primary">Add to cart</button>
             </div>
         </div>
         </div>

         <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
         <div class="card">
             <img src= "images/3.jpg" class="card-img img-fluid" >
             <div class="card-body">
             <h2 class="card-title" style="font-color: black">Frock</h2>
             <h3>10000</h3>
             <ul class="stars">
             <i class = "fa fa-star"></i>
              <i class = "fa fa-star"></i>
               <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                 <i class = "fa fa-star"></i>
             
             </ul>
             <button type="button" class="btn btn-primary">Add to cart</button>
             </div>
         </div>
         </div>
         </div>
       </div>
   </section>
   <br/>
   <br/>

      <section class ="shirts">
       <div class="conatianer">
         <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
         <div class="card">
             <img src= "images/4.jpg" class="card-img img-fluid" >
             <div class="card-body">
             <h2 class="card-title" style="font-color: black">Frock</h2>
             <h3>10000</h3>
             <ul class="stars">
             <i class = "fa fa-star"></i>
              <i class = "fa fa-star"></i>
               <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                 <i class = "fa fa-star"></i>
             
             </ul>
             <button type="button" class="btn btn-primary">Add to cart</button>
             </div>
         </div>
         </div>

         <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
         <div class="card">
             <img src= "images/5.jpeg" class="card-img img-fluid" >
             <div class="card-body">
             <h2 class="card-title" style="font-color: black">Frock</h2>
             <h3>10000</h3>
             <ul class="stars">
             <i class = "fa fa-star"></i>
              <i class = "fa fa-star"></i>
               <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                 <i class = "fa fa-star"></i>
             
             </ul>
             <button type="button" class="btn btn-primary">Add to cart</button>
             </div>
         </div>
         </div>

         <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
         <div class="card">
             <img src= "images/6.jpg" class="card-img img-fluid" >
             <div class="card-body">
             <h2 class="card-title" style="font-color: black">Frock</h2>
             <h3>10000</h3>
             <ul class="stars">
             <i class = "fa fa-star"></i>
              <i class = "fa fa-star"></i>
               <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                 <i class = "fa fa-star"></i>
             
             </ul>
             <button type="button" class="btn btn-primary">Add to cart</button>
             </div>
         </div>
         </div>
         </div>
       </div>
   </section>    
   <br/>
   <br/>
   <script src="js/jqurey.min.js"></script>
   <script src="js/rating.js"></script>
             
         
         
            

  
