body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

h1{
  text-align: center;
}

.stars{
  width: 100%;
  height: 100%;
  display: flex;
  color:lightgray;

}
