extends ../layout

block content
    h1 Designers Clothes
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Product ID
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="contact") Product Name
            input#contact(type="text", class="form-control", name="contact")
        .form-group
            label(for="city") Poduct Category
            input#city(type="text", class="form-control", name="city")
        .form-group
            label(for="service") Product Price
            input#service(type="text", class="form-control", name="service")
        input(type="submit", class="btn btn-info")
        
    